.login-container{
    margin-top: 30vh;

}
.logo {
    width: 150px;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(228, 228, 228);
    font-size: 18px;
    &:hover{
        color:#4099FF;
    }
 }