@import "variables";
.feed-row{
    height:70vh;
}

.cards-container {

    height:100%;
}
.mat-cell,
.mat-header-cell {
    color: $text-primary-1;
  word-wrap: initial;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.mat-table {
    background-color: $dark-card-1;
    width: 100%;
}
.second {
    text-align: left;
    text-overflow: ellipsis;
    max-width:400px;
}

.mat-row {
    transition: all 200ms ease-out;
    animation: shift-anim 100ms;
    transform-origin: top;
    &:hover {
        background-color: rgba(123, 104, 238,0.7);
        cursor: pointer;
    }
}
.mention-container {
    height: 70vh;
    overflow-y: auto;
    border-radius: 4px;
    background-color:$dark-card-1;
    @include card-shadow;
}
.mention-card {
    border-radius: 4px;
    position:relative;
    background-color: $dark-card-1;
    width:100%;
    overflow-y: auto;
    color: $text-primary-0;
    animation: mention-card-anim 500ms ease-out backwards;
    @include card-shadow;
    mat-card-header {
        color: $text-primary-1
    }
    mat-card-subtitle {
        color: $text-primary-2;
    }
}
.mat-header-cell {
    //background-color: $dark-card-3;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.close-icon{
    position:absolute;
    top:16px;
    right:16px;
    cursor:pointer;
    &:hover{
        color:rgba(123, 104, 238);

    }
}

.source-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.embed-frame {
    border-radius: 4px;
}

@keyframes mention-card-anim {
    from{
        opacity:0;
        transform:translateX(100px);
    }
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.tweet-container{
    position: relative;
    border-radius: 4px;
    height:70vh;
    &-anim{
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.tweet-box{
    height:100%;
    overflow-y: auto;
    width:100%;
}
.twitter-tweet.twitter-tweet-rendered{
    margin-top:0;
}

.nodisplay{
    height:0;
    overflow:hidden;
}

.chart-wrapper{
    //background-color: $card-invert-1;
    padding: 0.6rem 1.25rem;
    //border-radius: 4px;
}
.stat-info-cards{
    padding: 0.6rem 1.25rem 1rem 1.25rem;
    color: $text-primary-2;
}
.chart-container{
    background-color: $dark-card-1;
    height: 100%;
    border-radius: 4px;
    @include card-shadow;
}
.spam-icon{
    color: $warn;
    margin-right:8px;
}
.sentiment-icon{
    margin-right: 8px;
    &-positive{
        color:$success;

    }
    &-negative{
        color:$warn;
        
    }
    &-neutral{
        color:$text-primary-2;
        
    }
}
.card-text{
    color: $text-primary-muted;
    font-size: 0.8rem;
}

.youtube-embed{
    min-height: 50%;
}

@keyframes shift-anim{
    from{
        transform: scaleY(0);
        opacity:0;
    }
    to{
        transform: scaleY(1);
        opacity:1;
    }
}