@import "variables";
.feed-row{
    height:70vh;
}

.cards-container {

    height:100%;
}
.mat-cell,
.mat-header-cell {
    color: $text-primary-1;
  word-wrap: initial;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  
}
.mat-table {
    background-color: $dark-card-1;
    width: 100%;
}
.second {
    text-overflow: ellipsis;
    max-width:400px;
}

.mat-row {
    transition: all 200ms ease-out;
    &:hover {
        background-color: rgba(123, 104, 238,0.7);
        cursor: pointer;
    }
}
.mention-container {
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    background-color:$dark-card-1;

}
.mention-card {
    border-radius: 10px;
    position:relative;
    background-color: $dark-card-1;
    width:100%;
    overflow-y: auto;
    color: $text-primary-0;
    animation: mention-card-anim 500ms ease-out backwards;
    mat-card-header {
        color: $text-primary-1
    }
    mat-card-subtitle {
        color: $text-primary-2;
    }
}
.mat-header-cell {
    background-color: $dark-card-1;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.close-icon{
    position:absolute;
    top:16px;
    right:16px;
    cursor:pointer;
    &:hover{
        color:rgba(123, 104, 238);

    }
}

.source-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.embed-frame {
    border-radius: 10px;
}

@keyframes mention-card-anim {
    from{
        opacity:0;
        transform:translateX(100px);
    }
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.tweet-container{
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
}
.twitter-tweet.twitter-tweet-rendered{
    margin-top:0;
}

.nodisplay{
    height:0;
}