@import "variables";


.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-link {
    color:$text-success;
    cursor: pointer;
}


#social-fb:hover {
     color: #3B5998;
     border-radius: 100%;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

 .content-{
     &container{
        background-color: $dark-card-1 ;
         &:nth-child(odd){
            background-color: $dark-card-2;
            flex-direction: row-reverse;
        }
     }
     &header{
         font-size: 2rem;//clamp(30px, 2vw, 50px);;
         color:$text-primary-0;
     }
     &text{
         margin:0;
         color: $text-primary-muted;
         font-size: 1.4rem;
         line-height:  1.4rem;
     }
     &img{
         width:100%;
        box-shadow: 2px 2px 5px black;
     }
     
 }


    .header{
        height:90vh;
        background-image:linear-gradient(rgba(17, 15, 36, 0.877), rgba(17, 15, 36, 0.877)), url('/assets/img/background/social-background.jpg');
    }
    .banner-container{
        height:100%;
        animation: banner-anim 700ms ease-out;
        animation-fill-mode: backwards;
    }
    .banner-text{
        margin-top: 25%;
        color: $text-light-0;
            font-family: monospace;
            font-size: 2.8rem;
            line-height: 1.2;
            font-weight: 200;
            text-align: center;
    }
    .banner-img-container{
        height:100%;
        position: relative;
        background-color: rgba(0,0,0,0.5);
        overflow-y: hidden;
        &>.img1{
            position: absolute;
            top:25%;
            width:60%;
            height:auto;
            z-index:3;
            -webkit-box-reflect: below 3rem linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
            @include card-shadow;
        }
        &>.img2{
            position: absolute;
            top:28%;
            width:45%;
            height:auto;
            left:5%;
            
            -webkit-box-reflect: below 3rem linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
            @include card-shadow;
        }
        &>.img3{
            position: absolute;
            top:28%;
            width:45%;
            
            right:5%;
            height:auto;
            -webkit-box-reflect: below 3rem linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
            @include card-shadow;
        }
    }
    .card,.card-header,.card-body{
        text-align: center;
        background: None;
    }
    .card-header{
        color: $text-primary-0;
    }
    .card-body{
        color:$text-primary-muted;
    }
    .mcol{
        border-right: 2px solid gray;
    }

    .divider{
        border-radius: 50%;
        color:$dark-card-3;
    }

    .action-btn{
        &-1{
        font-size: 1.8rem;
        }
        &-2{
            font-size: 1.4rem;
        }
    }

     //SUBSCRIPTION CSS

     .sub-card {
        height: 400px;
        padding:0;
        
    }
    
    .sub-card-header {
        border-bottom: 2px solid $text-invert-1;
        padding:15px 0;
        &-text{
            font-size: 1.8rem;
            font-weight: 800;
            letter-spacing: 2px;
            font-family:monospace;
            margin:0; 
        }
    }
    ::ng-deep.sub-card-header .mat-card-header-text{
        display:none;
    }
    
    .tier-price{
        font-size: 1rem;
        font-weight:500;
        .price{
            letter-spacing: 1px;
            font-size: 2rem;
    
        }
    }
    .list{
        span{
            margin:0 10px;
        }
        .info-container{
            display: flex;
            align-items: center;
        }
    }
    .info{
        font-size: 1.2rem;
        line-height: 1.2rem;
    margin:0;
    padding:15px 0;
    }
    
    .t1{
        &:hover{
        box-shadow: 0px 0px 24px 1px $success;
        }
        .sub-card-header{
            border-bottom-color: $success;
            
        }
        button{
            color: $success;
        }
    }
    .t2{
        &:hover{
        box-shadow: 0px 0px 24px 1px $primary;
        
        }.sub-card-header{
            border-bottom-color: $primary;
            
        }
        button{
            color: $primary;
        }
    }
    .t3{
        &:hover{
        box-shadow: 0px 0px 24px 1px $accent;
        }
        .sub-card-header{
            border-bottom-color: $accent;
            
        }
        button{
            color: $accent;
        }
    }

.nav-anim{
    transition: all 500ms ease-in-out;
}

@keyframes banner-anim {
    from {
        transform: translateX(-10%);
       opacity:0;
       }
      to{
      opacity:1;
      transform: translateX(0);
      }
}