@import "variables";


.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 150px;
}

.login-link {
    color: greenyellow;
    cursor: pointer;
}

.footers a {color:#ebebeb;}
.footers p {color:#ebebeb;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     border-radius: 100%;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

 .content-{
     &container{
        background-color: #222830 ;
         &:nth-child(odd){
            background-color: #303944 ;
            flex-direction: row-reverse;
        }
     }
     &header{
         font-size: clamp(30px, 2vw, 50px);;
         color:white;
     }
     &text{
         margin:0;
         color: rgb(201, 201, 201);
         font-size: clamp(20px, 2vw, 40px);
         line-height:  clamp(20px, 2vw, 40px);
     }
     &img{
         width:100%;
        box-shadow: 2px 2px 5px black;
     }
     
 }


    .header{
        padding: 30px;
        height:90vh;
        background-image:linear-gradient(rgba(17, 15, 36, 0.877), rgba(17, 15, 36, 0.877)), url('/assets/img/background/social-background.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        animation: banner-anim 700ms ease-out;
        animation-fill-mode: backwards;
    }
    .banner-text{
        color: white;
            font-family: monospace;
            font-size: 5vw;
            line-height: 5vw;
            font-weight: 600;
            text-align: center;
    }

    .card,.card-header,.card-body{
        text-align: center;
        background: None;
    }
    .card-header{
        color: white;
    }
    .card-body{
        color:rgb(201, 201, 201)
    }
    .mcol{
        border-right: 2px solid gray;
    }

    .divider{
        border-radius: 50%;
        color:gray;
    }

    .action-btn{
        &-1{
        font-size: 1.8rem;
        }
        &-2{
            font-size: 1.4rem;
        }
    }

    .navbar-dark .navbar-nav .nav-link{
        color: rgb(228, 228, 228);
        font-size: 18px;
        &:hover{
            color:#4099FF;
        }
     }

     //SUBSCRIPTION CSS

     .sub-card {
        height: 400px;
        padding:0;
        
    }
    
    .sub-card-header {
        border-bottom: 2px solid #fff;
        padding:15px 0;
        &-text{
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 2px;
            font-family:monospace;
            margin:0; 
        }
    }
    ::ng-deep.mat-card-header-text{
        display:none;
    }
    
    .tier-price{
        font-size: 1rem;
        font-weight:500;
        .price{
            letter-spacing: 1px;
            font-size: 2rem;
    
        }
    }
    .list{
        span{
            margin:0 10px;
        }
        .info-container{
            display: flex;
            align-items: center;
        }
    }
    .info{
        font-size: 1.2rem;
        line-height: 1.2rem;
    margin:0;
    padding:15px 0;
    }
    
    .t1{
        &:hover{
        box-shadow: 0px 0px 24px 1px greenyellow;
        }
        .sub-card-header{
            border-bottom-color: greenyellow;
            
        }
        button{
            color: greenyellow;
        }
    }
    .t2{
        &:hover{
        box-shadow: 0px 0px 24px 1px #ffa52f;
        
        }.sub-card-header{
            border-bottom-color: #ffa52f;
            
        }
        button{
            color: #ffa52f;
        }
    }
    .t3{
        &:hover{
        box-shadow: 0px 0px 24px 1px #ff2fcb;
        }
        .sub-card-header{
            border-bottom-color: #ff2fcb;
            
        }
        button{
            color: #ff2fcb;
        }
    }

.nav-anim{
    transition: all 500ms ease-in-out;
}

@keyframes banner-anim {
    from {
        transform: translateX(-10%);
       opacity:0;
       }
      to{
      opacity:1;
      transform: translateX(0);
      }
}