<!-- <a routerLink='/login'>Login</a> -->
<nav class="navbar fixed-top navbar-expand-lg dark-nav navbar-dark bg-dark mb-3">
  <a class="navbar-brand" [routerLink]="'/'">
  <img class='logo' src='assets/img/brand/white-text.png'></a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto navbar-link-text">
      <li *ngIf="loggedIn" class="nav-item">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="'../default'" (click)="isMenuCollapsed = true"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true"
          >Examples</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a *ngIf='!loggedIn'class='nav-link login-link' (click)="smallModal.show(); isMenuCollapsed = true">
          Login
        </a>
        <a *ngIf='loggedIn'class='nav-link login-link' (click)="logout(); isMenuCollapsed = true">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<div
  bsModal
  #smallModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button
          type="button"
          class="close"
          (click)="smallModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<section class='content'>
  <div class="container banner">
    <div class="jumbotron typewriter-text">
      <ngtypewriter [StringList]='headerTextArray' [speed]='1000'></ngtypewriter>
    </div>
  </div>
<div class="carousal">
  <div class="card-body">
    <carousel
      [interval]="2000"
      [noWrap]="false"
      [(activeSlide)]="activeSlideIndex"
    >
      <slide *ngFor="let slide of slides; let index = index">
        <img
          [src]="slide.image"
          alt="image slide"
          style="display: block; width: 100%"
        />

        <div class="carousel-caption">
          <h4>Slide {{ index }}</h4>
          <p>{{ slide.text }}</p>
        </div>
      </slide>
    </carousel>
    <br />
  </div>
</div>
<div class="container">
  <div 
  class="content-container d-flex justify-content-around align-items-center"
  *ngFor="let content of contents"
  >
  <p class='content-text'>{{content['text']}}</p>
  <img class='content-img' [src]='content["url"]'>
  </div>
</div>
</section>
<section class="footers bg-dark p-3">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 footers-one">
           <div class="footers-logo">
               <img src='assets/img/brand/white-text.png' alt="Logo" class="logo">
           </div>
           <div class="footers-info mt-3 mb-3">
               <p>Businesses have been watching out for opinions of their consumers on their products as well as their competitor’s products since times immemorial. Tracking customer sentiments helps businesses to make better decisions for improving customer satisfaction as well as looking out for potential rivals to their products. The digital era has brought with it vast amounts of information about people. The most valuable sources of information from the company's perspective come from social media and online news sources.</p>
              <strong>With Sociolitic you have the power to make the best out of your social media footprint.</strong>
              </div>
           <div class="social-icons"> 
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
             <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
             <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
         </div>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
           <h2>Essentials </h2>
           <ul class="list-unstyled">
          <li><a href="maintenance.html">Search</a></li>
         </ul>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
           <h2>Information </h2>
           <ul class="list-unstyled">
          <li><a href="maintenance.html">Register Now</a></li>
          <li><a href="contact.html">Advice</a></li>
          <li><a href="about.html">Videos</a></li>
          <li><a href="about.html">Blog</a></li>
          <li><a href="about.html">Services</a></li>
         </ul>
       </div>
  </div>     
  </div>
</section>
<!-- <section class="copyright border">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12 pt-3">
              <p class="text-muted">© 2021@Sociolitic</p>
          </div>
      </div>
  </div>
</section> -->