<header class='header'>
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" [routerLink]="'/'">
        <img class="logo" src="assets/img/brand/white-text.png"
      /></a>

      <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto navbar-link-text">
      <li *ngIf="loggedIn" class="nav-item">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a
          class="nav-link"
          [routerLink]="'../default'"
          (click)="isMenuCollapsed = true"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" 
          >Examples</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" 
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="!loggedIn"
          class="nav-link login-link"
          (click)="smallModal.show()"
        >
          Login
        </a>
        <a
          *ngIf="loggedIn"
          class="nav-link login-link"
          (click)="logout()"
        >
          Logout
        </a>
      </li>
    </ul>
  </div>

    </div>
  </div>
  <section class="top-background">
    <div class="banner-container container">
      <h1 class="banner-text">SOCIAL MEDIA MONITORING, ANALYSIS AND CONCLUSIONS AT YOUR FINGERTIPS</h1>
    </div>
    <img class='dashboard-bg' src='/assets/img/background/dashboard.jpg'>
</section>
</header>

<section class='content'>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Friendly Interface</div>
          <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi explicabo distinctio excepturi ad doloribus quaerat consequuntur aliquid culpa! Atque, veritatis?</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Pay-as-you-go subscriptions</div>
          <div class="card-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, iste?</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Profitable Insights</div>
          <div class="card-body">Lorem ipsum dolor sit amet.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"></div>
  <div class="container"></div>
</section>
