<button [matMenuTriggerFor]="menu" mat-stroked-button color='primary'>
  Filters <span class="caret"></span>
</button>
<mat-menu #menu="matMenu" class='dark-card-1'>
  <form (click)="$event.stopPropagation()" class='filter-section' [formGroup]='filterGroup'>
    <div class='keyword-input-container'>
    <mat-form-field class="keyword-form-field mb-3">
      <mat-label>Filter by keywords</mat-label>
      <input matInput formControlName='keywordControl'>
    </mat-form-field>
    <button mat-stroked-button color='accent' class="btn-pill" (click)='addKeyword()'>add</button>
    </div>
    <div class='keyword-pill-container' *ngIf='keywords.size'>
      <div class='keyword-pill-container__pill' *ngFor='let key of keywords'>
        {{key}} <i class="fa fa-close fa-lg ml-1 close-icon" (click)='removeKey(key)'></i>
      </div>
    </div>

    <mat-form-field class='select-form-field' appearance="fill" class='mb-3'>
      <mat-label>Sources</mat-label>
      <mat-select formControlName='sourceControl' multiple>
        <mat-option *ngFor="let source of sourceList" [value]="source">{{source}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class='select-form-field' appearance="fill" class='mb-3'>
      <mat-label>Sentiment</mat-label>
      <mat-select formControlName='sentimentControl'>
        <mat-option value="">All</mat-option>
        <mat-option value="Positive">Positive</mat-option>
        <mat-option value="Negative">Negative</mat-option>
        <mat-option value="Neutral">Neutral</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-expansion-panel>
    
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Select a boolean funtion</mat-label>
        <mat-select formControlName='booleanControl'>
          <mat-option value="AND">AND</mat-option>
          <mat-option value="OR">OR</mat-option>
          <mat-option value="XOR">XOR</mat-option>
          <mat-option value="NOR">NOR</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>  
  <div class='form-footer'>
    <button mat-button color='primary'(click)='clearFilters()'>
      Clear All
    </button>
    <button mat-button color='accent' (click)='applyFilters()'>Apply</button>
  </div>
  </form>
</mat-menu>




