@import "variables";
.img-avatar{
    width: 2rem;
}
.photo-btn{
    background: none;
}
.active {
    color: $text-primary-0 !important;
    font-size: larger;
    font-weight: bolder;
}

.navbar-nav {
    color: $text-invert-0;
}
.outlet{
    overflow-y: hidden;
    height: 90vh;
}
