@import "variables";

.nav-link{
    cursor: pointer;
    color: $text-invert-0;
    &:hover{
        font-weight: bolder;
        color: $text-accent;
    }

}
.active {
    color: $text-success !important;
}
::ng-deep .app-header{
    border:none;
    background-color: $dark-nav;
    & .navbar-toggler{
        min-width: 27px;
        padding: 0;
        margin: 0 10px;
        
        &:hover {
            background-color: rgb(168, 168, 168);
        }
        
        & .navbar-toggler-icon {
            background-image: url('../../../assets/img/brand/ham.png');
        }
    }
   
}
::ng-deep .sidebar{
    background-color: $dark-nav;
  }
.navbar-nav {
    color: $text-invert-0;
}
.outlet{
    overflow-y: hidden;
    height: 90vh;
}
