


<div class="container mt-4 container-sub">
  <div class="row gx-2 ">
    
        <div class="col-md-4 col-sm-8 mb-4">
            <div class='card-container'[class.selected-container]='selected==1'>
                <div *ngIf='selected==1' class='selected-tag'>
                    Selected
                </div>
                          <mat-card class="sub-card dark-card-1 t1">
                <mat-card-header class="header sub-card-header">
                  <h1 class="header-text mx-auto">FREE TIER</h1>
                </mat-card-header>
                <div
                *ngIf='selected!=1'
                  class="
                    plan
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-center
                    py-2
                  "
                >
                  <h1 class="tier-price mb-2"><strong class="price">$0</strong>/month</h1>
                  <button mat-stroked-button color="accent" (click)="checkout('1')">
                    Buy Now
                  </button>
                </div>
                <div class="list">
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Access to 1 profile, 3 data sources and full monitoring
                    </p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Access to 1 profile, 3 data sources and full monitoring
                    </p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Access to 1 profile, 3 data sources and full monitoring
                    </p>
                  </span>
                </div>
                          </mat-card>
            </div>
        </div>
      
        <div class="col-md-4 col-sm-8 mb-4">
            <div class='card-container'[class.selected-container]='selected==2'>
                <div *ngIf='selected==2' class='selected-tag'>
                    Selected
                </div>
                          <mat-card class="sub-card dark-card-1 t2">
                <mat-card-header class="header sub-card-header">
                  <h1 class="header-text mx-auto">PAID I</h1>
                </mat-card-header>
                <div
                *ngIf='selected!=2'
                  class="
                    plan
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-center
                    py-2
                  "
                >
                  <h1 class="tier-price mb-2">
                    <strong class="price">$25</strong>/month
                  </h1>
                  <button mat-stroked-button color="accent" (click)="checkout('1')">
                    Buy Now
                  </button>
                </div>
                <div class="list">
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Access to 3 profile, 5 data sources and full monitoring
                    </p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">Monitor upto 5 data sources of choice</p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Great for individuals who want to monitor only specific online
                      communities
                    </p>
                  </span>
                </div>
                          </mat-card>
            </div>
        </div>
      
        <div class="col-md-4 col-sm-8 mb-4">
        <div class='card-container'[class.selected-container]='selected==3'>
            <div *ngIf='selected==3' class='selected-tag'>
                Selected
            </div>
              <mat-card class="sub-card dark-card-1 t3">
                <mat-card-header class="header sub-card-header">
                  <h1 class="header-text mx-auto">PAID II</h1>
                </mat-card-header>
                <div *ngIf='selected!=3'
                  class="
                    plan
                    d-flex
                    flex-column
                    justify-content-center
                    align-items-center
                    py-2
                  "
                >
                  <h1 class="tier-price mb-2">
                    <strong class="price">$50</strong>/month
                  </h1>
                  <button mat-stroked-button color="accent" (click)="checkout('1')">
                    Buy Now
                  </button>
                </div>
                <div class="list">
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">Create upto 6 profiles</p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">Accesss to all data sources available*</p>
                  </span>
                  <mat-divider></mat-divider>
                  <span class="info-container">
                    <i class="fa fa-check fa-lg pr-2"></i>
                    <p class="info">
                      Best for organizations who want to have complete information of
                      every mention on the web
                    </p>
                  </span>
                </div>
              </mat-card>
        </div>
        </div>
    
  </div>
  
</div>


