<mat-tab-group dynamicHeight>
    <!-- <mat-tab label="User"> 
        <ng-template matTabContent>
            <app-user-settings></app-user-settings>
        </ng-template> 
    </mat-tab> -->
    <mat-tab label="Monitoring profiles"> 
        <ng-template matTabContent>
            <app-profile-settings></app-profile-settings>
        </ng-template>    
    </mat-tab>
    <mat-tab label="Subscription"> 
        <ng-template matTabContent>
        <app-subscription-settings></app-subscription-settings>    
    </ng-template>
    </mat-tab>
</mat-tab-group>
