.button-apply {
    width: fit-content;
}
.checkbox-title{
    margin: 0;
}
.checkbox {
    margin-right: 20px;
}
.checkbox-container {
    margin-bottom:20px;
}
.container{
    height: 85vh;
}

.card{
    height:80%;
}
