.logo {
    width: 150px;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(228, 228, 228);
    font-size: 18px;
    &:hover{
        color:#4099FF;
    }
 }

.competitor-form{
    width:100%;
}
.sub-container{
    height: fit-content;
    text-align: center;
}
.sub-content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.stepper-container{
    
}
.list{
    text-align: center;
    overflow-x: scroll;
}
.info{
    margin-top: 5px;
}