.competitor-form{
    width:100%;
}
.sub-container{
    height: fit-content;
    text-align: center;
}
.sub-content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
