@import "variables";
.card {
    padding: 40px;
    text-align: center;
    transition: all 100ms ease-out;
    color: $dark-bg-text-1;
    &:hover{
        transform:translate(2px,-2px);
        box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 0.267);
        background-color:rgba(rgba(59, 59, 77, 0.815), 0.918);
        
        cursor:pointer;
    }
}

.create-profile{
    text-align: center;
    color:$dark-bg-text-1;
    margin-bottom: 24px;
    padding:40px;
    border-radius: 4px;
    transition: all 200ms ease-out;
    & i{
    font-size: 50px;
    }
    & span {
        font-size: 30px;
    }
    &:hover{
        background-color: rgba(8, 8, 8, 0.438);
        cursor: pointer;
        color: white;
    }
}