@import "variables";
.card {
    padding: 40px;
    text-align: center;
    transition: all 100ms ease-out;
    color: $text-primary-1;
    &:hover{
        transform:translate(2px,-2px);
        box-shadow: 2px 2px 5px 0px rgba(66, 66, 66, 0.267);
        background-color:$card-hover-2;
        cursor:pointer;
    }
}

.create-profile{
    text-align: center;
    color:$text-primary-0;
    margin-bottom: 24px;
    padding:40px;
    border-radius: 4px;
    transition: all 200ms ease-out;
    & i{
    font-size: 50px;
    }
    & span {
        font-size: 30px;
    }
    &:hover{
        background-color: $card-hover-1;
        cursor: pointer;
        color: $text-accent;
    }
}