@import "variables";
  .nav-wrapper{
    z-index: 3;
  }
  .navbar-brand {
    color: $text-light-0;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.25rem;
    &:hover{
      color: $text-light-0;
    }
  }