<div class="container-fluid wrapper p-0">
  <nav class="navbar navbar-expand-md navbar-light dark-nav-secondary mb-3">
    <span class="navbar-brand">LIVE FEED</span>
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [(ngbCollapse)]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul
        [class.collapsed]="!isMenuCollapsed"
        class="navbar-nav ml-auto align-items-center"
      >
        <li class="nav-item mx-2">
          <button mat-raised-button (click)="startFeed()">Start Feed</button>
        </li>
        <li class="nav-item mx-2">
          <button mat-raised-button (click)="stopFeed()">Stop Feed</button>
        </li>
        <li class="nav-item mx-2">
          <mat-form-field appearance="fill" color="accent" class='profile-field'>
            <mat-label>Profile</mat-label>
            <mat-select
              [(ngModel)]="selectedProfile"
              (selectionChange)="startFeed()"
            >
              <mat-option
                *ngFor="let profile of profiles | keyvalue"
                [value]="profile.key"
                >{{ profile.value["brand"] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </li>
        <li class="nav-item mx-2">
          <app-feed-filter (filterEmitter)="applyFilters($event)">
          </app-feed-filter>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid stat-container animated fadeIn">
    <div class="mb-3">
      <app-live-feed
        [changeProfile]="inputProfile"
        [applyFilters]="filters"
      >
      </app-live-feed>
    </div>

    
  </div>
</div>
