@import '~@angular/material/theming';
// Variable overrides
$primary-dark-pallete:(
    50 : #e4e6ea,
    100 : #bbc1cb,
    200 : #8e98a8,
    300 : #606f85,
    400 : #3e506a,
    500 : #1c3150,
    600 : #192c49,
    700 : #142540,
    800 : #111f37,
    900 : #091327,
    A100 : #648eff,
    A200 : #3169ff,
    A400 : #0045fd,
    A700 : #003ee4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-pallete:(
    50 : #eef1ff,
    100 : #d6dcfe,
    200 : #bac5fe,
    300 : #9eaefe,
    400 : #8a9cfd,
    500 : #758bfd,
    600 : #6d83fd,
    700 : #6278fc,
    800 : #586efc,
    900 : #455bfc,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e9ebff,
    A700 : #cfd5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #2b2a2a,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$accent-pallete:(
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb84d,
    400 : #ffa826,
    500 : #ff9900,
    600 : #ff9100,
    700 : #ff8600,
    800 : #ff7c00,
    900 : #ff6b00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$green-card-1:#dbe7e4;
$green-card-2:#c5dedd;
$blue-card-1:#d6e2e9;
$blue-card-2:#bcd4e6;
$blue-card-3:#99c1de;
$orange-card-1:#f8edeb;
$orange-card-2:#fae1dd;
$orange-card-3:#fcd5ce;
$orange-card-4:#fec5bb;
$gray-card-1:#f8f9fa;
$gray-card-2:#e9ecef;
$gray-card-3:#dee2e6;
$gray-card-4:#ced4da;

$dark-bg: #202020;
$dark-nav: #252525;//#293241;
$dark-nav-secondary: #131313;

$dark-card-1:#252525;
$dark-card-2:#2e2e2e;
$dark-card-3:map-get($primary-pallete, 500 );
$card-hover-1: $orange-card-4;
$card-hover-2:$blue-card-3;

$card-invert-1:#f1faee;
$color-card-1: #7D80DA;
$color-card-2: #23967F;
$color-card-3: #CA3CFF;
$color-card-4: #4BB3FD;
$color-card-5: #558C8C;
$gradient-zinc:linear-gradient(to right,#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
$gradient-dull:linear-gradient(to right,#C9D6FF,#E2E2E2);
$gradient-telegram: linear-gradient(to right, #1c92d2,#f2fcfe);
$gradient-brady: linear-gradient(to right, #1c92d2,#ffff1c);
$gradient-purple: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
$gradient-lawrence:linear-gradient(to right,#0f0c29,#302b63,#24243e);

$success:rgb(0, 199, 0);
$primary:map-get($primary-pallete,500);
$accent: map-get($accent-pallete,500);
$warn: red;


//typography variables
$text-light-0: rgb(255, 255, 255);
$text-light-1: rgb(226, 226, 226);
$text-light-2:rgb(172, 172, 172);
$text-dark-0: #000;
$text-dark-1: #444;
$text-dark-2: #666;
$text-invert-0: #000;
$text-invert-1: #444;
$text-invert-2:#666;
$text-primary-0: #e6e6e6;
$text-primary-1: #dbdada;
$text-primary-2: #b4b4b4;
$text-primary-muted:rgba(255, 255, 255, 0.658);
$text-invert-muted:rgba(212, 179, 179, 0.493);
$text-warn: $warn;
$text-success: rgb(0, 187, 0);
$text-primary: $primary;
$text-accent: $accent;

//logo
$logo: "assets/img/brand/white-text.png";


//palletes

@mixin card-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}