@import '~@angular/material/theming';
// Variable overrides
$green-card-1:#dbe7e4;
$green-card-2:#c5dedd;
$blue-card-1:#d6e2e9;
$blue-card-2:#bcd4e6;
$blue-card-3:#99c1de;
$orange-card-1:#f8edeb;
$orange-card-2:#fae1dd;
$orange-card-3:#fcd5ce;
$orange-card-4:#fec5bb;
$gray-card-1:#f8f9fa;
$gray-card-2:#e9ecef;
$gray-card-3:#dee2e6;
$gray-card-4:#ced4da;

$dark-bg: #1d3557;
$dark-nav: #13243b;//#293241;
$dark-nav-secondary: #3f4244;
// $dark-component-1:map-get($mat-blue-gray, 900 );
// $dark-component-2: #171010;
// $dark-component-3: #595B83;
//$dark-bg-text-1: #e2e2e2;
$dark-card-1:#1c3150;
$dark-card-2:#1e385c;
$dark-card-3:#e63946;
$card-hover-1: $orange-card-4;
$card-hover-2:$blue-card-3;
//$dark-button-1:rgb(0, 4, 240);
//$dark-button-2:red;
//$dark-bg-text-2: white;
//$dark-text-dark: black;
$gradient-zinc:linear-gradient(to right,#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
$gradient-dull:linear-gradient(to right,#C9D6FF,#E2E2E2);
$gradient-telegram: linear-gradient(to right, #1c92d2,#f2fcfe);
$gradient-brady: linear-gradient(to right, #1c92d2,#ffff1c);
$gradient-purple: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
$gradient-lawrence:linear-gradient(to right,#0f0c29,#302b63,#24243e);

$success:rgb(0, 199, 0);
$primary: #eb5160;
$accent: #fcd757;
$warn: red;


//typography variables
$text-light-0: rgb(255, 255, 255);
$text-light-1: rgb(226, 226, 226);
$text-light-2:rgb(172, 172, 172);
$text-dark-0: #000;
$text-dark-1: #444;
$text-dark-2: #666;
$text-invert-0: #000;
$text-invert-1: #444;
$text-invert-2:#666;
$text-primary-0: #f1faee;
$text-primary-1: #dbe2d8;
$text-primary-2: #c5ccc3;
$text-primary-muted:rgba(255,255,255,0.493);
$text-invert-muted:rgba(0, 0, 0, 0.493);
$text-warn: red;
$text-success: rgb(0, 187, 0);
$text-primary: $primary;
$text-accent: $accent;

//logo
$logo: "assets/img/brand/white-text.png";


//palletes

$primary-dark-pallete:(
    50 : #e4e6ea,
    100 : #bbc1cb,
    200 : #8e98a8,
    300 : #606f85,
    400 : #3e506a,
    500 : #1c3150,
    600 : #192c49,
    700 : #142540,
    800 : #111f37,
    900 : #091327,
    A100 : #648eff,
    A200 : #3169ff,
    A400 : #0045fd,
    A700 : #003ee4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-pallete:(
    50 : #fce7e9,
    100 : #f8c4c8,
    200 : #f39ca3,
    300 : #ee747e,
    400 : #ea5762,
    500 : #e63946,
    600 : #e3333f,
    700 : #df2c37,
    800 : #db242f,
    900 : #d51720,
    A100 : #ffffff,
    A200 : #ffd4d5,
    A400 : #ffa1a4,
    A700 : #ff878b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-pallete:(
    50 : #e0f5f7,
    100 : #b3e7ea,
    200 : #80d7dc,
    300 : #4dc7ce,
    400 : #26bbc4,
    500 : #00afb9,
    600 : #00a8b2,
    700 : #009faa,
    800 : #0096a2,
    900 : #008693,
    A100 : #bef8ff,
    A200 : #8bf3ff,
    A400 : #58eeff,
    A700 : #3febff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);